{:name "Typed Clojure",
 :version "0.1.0",
 :author "ndr-qef",
 :source "https://github.com/typedclojure/light-typedclojure",
 :desc
 "Typed Clojure integration: type-checking commands and annotation formatters.",
 :behaviors "typedclojure.behaviors"}
