{:name "Rainbow",
 :author "Chris Granger",
 :version "0.0.5",
 :source "https://github.com/LightTable/LightTable-Rainbow",
 :desc "Rainbow parens implementation for Light Table",
 :behaviors "rainbow.behaviors"}
