{:name "LiTeX",
 :author "Robert Schroll",
 :version "0.0.3",
 :source "https://github.com/rschroll/litex",
 :desc "LaTeX compilation, previewing, and syncing",
 :dependencies {},
 :behaviors "litex.behaviors"}
