{:name "MightTable",
 :version "0.0.6",
 :author "Rodrigo B. de Oliveira",
 :source "https://github.com/bamboo/MightTable/",
 :desc "Metascript language support for LightTable",
 :behaviors "metascript.behaviors"}
