{:name "Bufferize",
 :version "0.0.2",
 :author "Frozenlock",
 :source "https://github.com/Frozenlock/Bufferize",
 :desc "Easier emacs-like buffer (tabs) navigation.",
 :behaviors "bufferize.behaviors"}
