{:name "AltTab",
 :version "0.1.0",
 :author "Eldar Gabdullin",
 :source "https://github.com/eldargab/LT-AltTab",
 :desc
 "Provides windows like Alt+Tab experience for navigation between tabs",
 :behaviors "alttab.behaviors"}
