{:name "Bracket glow",
 :version "0.0.1",
 :author "Irakli Gozalishvili",
 :source "https://github.com/Gozala/lt.plugins.bracketglow",
 :desc "Adds visual glow to a (un)matching brackets",
 :behaviors "bracketglow.behaviors"}
