{:name "RuboCop",
 :version "0.0.7",
 :author "Sean Caffery",
 :source "https://github.com/seancaffery/lt-rubocop",
 :desc "RuboCop integration, a ruby syntax and style checker",
 :behaviors "rubocop.behaviors"}
