{:name "SCSS",
 :author "Philip Joseph",
 :version "0.0.1",
 :source "https://github.com/lambdahands/lt-scss",
 :desc "An experimental SCSS plugin for Light Table",
 :dependencies {},
 :behaviors "scss.behaviors"}
