{:name "Borealis theme",
 :version "0.0.5",
 :author "James Trunk, Kristoffer Skjutare",
 :source "https://github.com/Misophistful/borealis-lighttable-theme",
 :desc
 "A theme with a dark background and rainbow brackets. Install plugin, then restart LT, then add (:lt.objs.style/set-theme \"borealis\") to user.behaviors under :editor",
 :behaviors "borealis_lighttable_theme.behaviors"}
