{:name "Perl",
 :author "utsukushii",
 :version "0.0.6",
 :source "https://github.com/utsukushii/LT-Perl",
 :desc "Perl language plugin for Light Table",
 :dependencies {},
 :behaviors "perl.behaviors"}
