{:name "Opener",
 :version "0.3.0",
 :author "Eldar Gabdullin",
 :source "https://github.com/eldargab/LT-Opener",
 :desc
 "Helps to open dirs, files, run shell commands and start a Terminal",
 :behaviors "opener.behaviors"}
