{:name "Paredit-Plus",
 :version "0.0.5",
 :author "Okke Tijhuis (@otijhuis)",
 :source "https://github.com/otijhuis/paredit-plus.git",
 :desc
 "Extra paredit commands (like wrap/split/splice/kill/duplicate) which aren't supported (yet) in the main Paredit plugin",
 :behaviors "paredit-plus.behaviors"}
