{:name "match-highlighter",
 :author "Irakli Gozalishvili",
 :version "0.0.4",
 :source "https://github.com/Gozala/lt.plugins.match-highlighter",
 :desc "Light Table plugin for highlighting matching tokens",
 :behaviors "match-highlighter.behaviors"}
