{:name "Sort Selected",
 :version "0.0.2",
 :author "Love Sharma <contact@lovesharma.com>",
 :source "https://github.com/zonito/Sort-Selected",
 :desc
 "Sort selected lines, words and characters. Better to add in keymap for your quick development.",
 :behaviors "sort_selected.behaviors"}
