{:name "base16 themes",
 :version "0.0.1",
 :author "Clinton Dreisbach",
 :source "https://github.com/cndreisbach/lighttable-base16-themes",
 :desc
 "Base16 themes (https://github.com/chriskempson/base16) for LightTable.",
 :behaviors "base16.behaviors"}
