{:name "functions_list"
 :version "0.0.2"
 :author "Edgard Collante"
 :source "https://github.com/eecollante10/LightTable-functions-list"
 :desc "Shows javascript functions on the right panel. Click on a function to go to it. To access it search for function in the commands (ctrl-space)."
 :behaviors "functions_list.behaviors"}
