{:name "Ubuntu theme",
 :version "0.0.1",
 :author "Gordeev Vladimir",
 :source "https://github.com/vladimir-vg/ubuntu-lighttable-theme",
 :desc
 "Theme based on Ubuntu brand colors (http://design.ubuntu.com/brand/colour-palette)",
 :behaviors "ubuntu-theme.behaviors"}
