{:name "Jewel",
 :author "Mike Innes",
 :version "0.2.0",
 :source "https://github.com/one-more-minute/Jewel",
 :desc "Julia language plugin for Light Table",
 :dependencies {},
 :behaviors "jewel.behaviors"}
