{:name "gitlight",
 :version "0.0.9",
 :author "Bartosz Kurpesa, Konrad Kuźnicki, Marek Rogalski",
 :source "https://github.com/kuznicki-me/gitlight",
 :desc
 "GIT integration: simple status, add, commit, push, pull, fetch, diff, stash, log and branch management.",
 :behaviors "gitlight.behaviors"}
