{:name "smart-ignore",
 :version "0.1.1",
 :author "Gabriel Horner",
 :source "https://github.com/cldwalker/smart-ignore",
 :desc
 "Updates file.ignore-pattern based on current directories and their gitignores.",
 :behaviors "smart_ignore.behaviors"}
