{:name "Marks",
 :version "0.0.1",
 :author "Beau Fabry",
 :source "https://github.com/bfabry/marks",
 :desc
 "Similar to vim marks, remember locations of various actions so we can quickly jump to them",
 :behaviors "marks.behaviors"}
