{:name "Borealis theme",
 :version "0.0.1",
 :author "James Trunk, Kristoffer Skjutare",
 :source "https://github.com/Misophistful/borealis-lighttable-theme",
 :desc "A theme with a dark background and rainbow brackets",
 :behaviors "borealis_lighttable_theme.behaviors"}
