{:name "InstaBuster",
 :version "0.0.7",
 :author "Magnus Rundberget",
 :source "https://github.com/busterjs/lt-instabuster",
 :desc "Ease your JavaScript(/CoffeScript) testing with Buster.JS",
 :behaviors "instabuster.behaviors"}
