{:name "GBlame",
 :author "Beau Fabry",
 :version "0.0.7",
 :source "https://github.com/bfabry/gblame",
 :desc
 "Simple implementation of git blame for light table. Assumes you have git installed",
 :behaviors "gblame.behaviors"}
