{:name "howdoi",
 :version "0.0.1",
 :author "Vladimir Grichina <vgrichina@gmail.com>",
 :source "https://github.com/vgrichina/lt-howdoi",
 :desc "Write your code automatically using howdoi",
 :behaviors "howdoi.behaviors"}
