{:name "Niflheim theme",
 :version "0.0.1",
 :author "Benjamin Van Ryseghem",
 :source "https://github.com/niflheim-theme/lighttable",
 :desc
 "Dark theme with nice contrast for hours of fun coding with hurting your little eyes",
 :behaviors "niflheim.behaviors"}
