{:name "Refheap",
 :version "0.0.2",
 :author "Mihnea Dobrescu-Balaur",
 :source "https://github.com/mihneadb/lighttable_refheap",
 :desc
 "Refheap plugin - posts selection or the whole file if nothing is selected",
 :behaviors "refheap.behaviors"}
