{
  :name "Juniper",
  :author "Varanas",
  :version "0.1.2",
  :source "https://github.com/Varanas/Juniper",
  :desc "Skin and theme (dark and light) - optimized for Julia.",
  :dependencies {},
  :behaviors "juniper.behaviors"
}
