{:name "vulcan",
 :version "0.0.1",
 :author "Irakli Gozalishvili",
 :source "https://github.com/Gozala/lt.plugins.vulcan",
 :desc "Firefox debugger client for Light Table",
 :behaviors "vulcan.behaviors",
 :dependencies {:javascript "0.0.1"}}
