{:name "gitlight",
 :version "0.0.1",
 :author "Bartosz Kurpesa, Konrad Kuźnicki, Marek Rogalski",
 :source "https://github.com/kuznicki-me/gitlight",
 :desc
 "GIT integration: only status right now... command 'gitlight: Status'",
 :behaviors "gitlight.behaviors"}
