{:name "google-search"
 :version "0.0.1"
 :author "cnb"
 :source "https://github.com/cneira/googlesearch"
 :desc "makes available google, github,amazon and grooveshark web search "
 :behaviors "googlesearch.behaviors"}
