{:name "Example",
 :version "0.0.1",
 :author "Spiros Boosalis",
 :source "https://github.com/sboosali/Example-LightTable-Plugin",
 :desc
 "Getting Started With Setting Up Your First Hello-World Proof-Of-Concept Template Skeleton Tutorial Example Plugin in LightTable",
 :behaviors "example.behaviors"}
