{:name "lt_snippets",
 :version "0.0.4",
 :author "Magnus Rundberget",
 :source "https://github.com/rundis/lt-snippets",
 :desc
 "Snippets/templates in textmate/yasnippets style for Light Table",
 :behaviors "lt_snippets.behaviors"}
