{:name "Typed Clojure",
 :version "0.0.2",
 :author "ndr-qef",
 :source "https://github.com/ndr-qef/light-typedclojure",
 :desc
 "Typed Clojure integration for Light Table: type-checking commands and annotation formatters.",
 :behaviors "typedclojure.behaviors"}
