{:name "color_picker",
 :version "0.0.2",
 :author "Morgawr <morgawr@gmail.com>",
 :source "https://github.com/Morgawr/lt-color-picker",
 :desc "Open a menu to pick colors and write them in the editor.",
 :behaviors "color_picker.behaviors"}
