{:name "Snippets"
 :version "0.1.1"
 :author "Magnus Rundberget"
 :source "https://github.com/rundis/lt-snippets"
 :desc "Snippets/templates in textmate/yasnippets style for Light Table"
 :behaviors "snippets.behaviors"}
